---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout
  title="About | Marianela Chaile"
  description="About Marianela Chaile Lorem Ipsum"
>
  <div class="container mx-auto px-4 py-8 max-w-4xl">
    <h1 class="text-4xl font-bold text-center mb-6">About me</h1>

    <p class="text-xl text-center mb-12">
      Hi! I'm Marianela Chaile, a passionate digital designer with 7 years of
      experience in digital design, including 3 years specializing in UX/UI. My
      background in Industrial Design, combined with my expertise in UX/UI,
      allows me to seamlessly blend aesthetics with functionality, creating
      intuitive, efficient, and accessible products.
    </p>

    <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
      <div class="w-full md:w-2/3">
        <img
          src="https://res.cloudinary.com/dcxejdzab/image/upload/v1728067987/cldsehnef7easvqvt03a.jpg"
          alt="Marianela"
          width={300}
          height={300}
          class="rounded-lg shadow-lg mx-auto"
        />
      </div>

      <div class="w-full md:w-2/3">
        <p class="mb-4">
          I’m driven by a desire to create solutions that positively impact
          people's lives. My approach is centered around three key pillars:
        </p>

        <ul class="list-disc pl-6 mb-4">
          <li class="mb-4">
            <strong class="font-bold text-lg">
              Understanding user needs:</strong
            > I empathize with users to deeply understand their needs and frustrations,
            translating these insights into relevant and meaningful solutions.
          </li>
          <li class="mb-4">
            <strong class="font-bold text-lg">
              Creative problem solving:</strong
            >
            My holistic and project-oriented vision helps me find innovative solutions
            to product challenges.
          </li>
          <li>
            <strong class="font-bold text-lg"> Team collaboration:</strong> I thrive
            in collaborative environments and enjoy working with teams to deliver
            high-quality products.
          </li>
        </ul>

        <!--   <h2 class="text-2xl font-semibold mt-6 mb-3">Logros destacados:</h2>
        <ul class="list-disc pl-6 mb-4">
          <li>
            Desarrollar una app de crianza que quedó entre las diez mejores de
            mi clase.
          </li>
          <li>Contribuir al proyecto de Edvisto en el programa InTech MOM.</li>
          <li>
            Implementar principios de usabilidad, accesibilidad e innovación en
            todos mis proyectos.
          </li>
        </ul>

        <h2 class="text-2xl font-semibold mt-6 mb-3">
          Buscando oportunidades para:
        </h2>
        <ul class="list-disc pl-6 mb-4">
          <li>
            Formar parte de un equipo de desarrollo apasionado por crear
            productos que hagan la diferencia.
          </li>
          <li>Aportar mi creatividad y experiencia a nuevos proyectos.</li>
          <li>Seguir aprendiendo y creciendo como Product Designer.</li>
        </ul> -->
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    width: 50%;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
    width: 50%;
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
