---
import Icon from "./Icon.astro";
import Icon1 from "../../public/assets/svg/icon1.astro";
import Icon2 from "../../public/assets/svg/bosquejo.astro";
import Icon3 from "../../public/assets/svg/digitalDesign.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <!--  <Icon icon="uxui" color="var(--accent-regular)" size="2.5rem" gradient /> -->
    <Icon1 />
    <h2>UX/UI Design</h2>
    <p>
      I design intuitive and user-centered interfaces for websites and apps,
      blending usability with visual appeal to enhance user experiences.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon3 />

    <h2>Digital Design</h2>
    <p>
      I craft optimized visuals for digital platforms, ensuring a consistent and
      seamless experience across different devices and screen sizes.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon2 />
    <h2>Print Design</h2>
    <p>
      I create visually impactful designs for printed materials like posters,
      brochures, and packaging, focusing on technical precision and print
      quality.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
