---
import Icon1 from "../../public/assets/svg/icon1.astro";
import Icon2 from "../../public/assets/svg/bosquejo.astro";
import Icon3 from "../../public/assets/svg/digitalDesign.astro";

import { getI18n } from "../i18n";

const { currentLocale = "en" } = Astro;
const i18n = getI18n({ currentLocale });
---

<section
  class="container flex justify-around mx-auto items-center h-[198px] rounded-3xl shadow border border-[#e3e6ee]"
>
  <div class="gap-2 lg:gap-4 flex flex-col justify-center items-center">
    <!--  <Icon icon="uxui" color="var(--accent-regular)" size="2.5rem" gradient /> -->
    <Icon1 />
    <h3 class="text-sm md:text-2xl">Figma</h3>
  </div>
  <div class="gap-2 lg:gap-4 flex flex-col justify-center items-center">
    <Icon3 />
    <h3 class="text-sm md:text-2xl">Illustrator</h3>
  </div>
  <div class="gap-2 lg:gap-4 flex flex-col justify-center items-center">
    <Icon2 />
    <h3 class="text-sm md:text-2xl">Photoshop</h3>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
